*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body{
    font-family: sans-serif;
}
nav{
    position: fixed;
    height: 80px;
    width: 100%;
    background-color: rgb(65, 120, 10);
    transition: .7s;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, .3) ;
}

nav .logo{
    font-size: 35px;
    color: white;
    font-weight: bold;
    line-height: 80px;
    padding-left: 100px;
}
nav ul{
    float: right;
    margin-right: 50px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 15px;
    line-height: 80px;
}
nav ul li a{
    color: bisque;
    font-size: 20px;
    font-weight: 600;
}
li a:hover{
    color: rgb(153, 93, 21);
    transition: 0.5s;
}
.sec1{
    background: url(images/bg.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
}
.sec2{
    background: url(images/purple.webp) no-repeat;
    background-size: cover;
    height: 100vh;
}
h1{
    font-size: 40px;
    padding: 20px 0 10px 20px;
}
p{
    font-size: 20px;
    padding: 0 20px 0 20px;
}